@import 'typography';
@import 'icons';
@import 'mixins.scss';

$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;

// Utility classes
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.site-banner {
  display: flex;
 flex-direction: column-reverse;
}
.site-banner__left{
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: auto auto;
  background-color: $light-gray; 

}
.icon-byui-logo{
  display: block;

  grid-column: 1/2;
  grid-row: 1/2;
 
  background-color: black;
  padding: 0.3em;
  font-size: 1.8em;
}
.site-banner__right{
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 0.5em;
  text-align: right;
  background-color:$link-blue;
  
 }
 .site-banner__right a{
    text-decoration: none;
  }

.header-title{
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 1.2em;
  padding: 0.5em;

}
.site-banner form{
  display: none;
}
@include breakpoint(small){
  
}

